#jobsSection {
  margin-bottom: 80px;
}
#personsSection {
}
.flexx{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  overflow:auto;
  padding: 0px 0;
}
#personsSection,
#jobsSection {
  height: 250px;
  border: 4px solid #fff;
}
