#jobsSection {
  margin-bottom: 80px;
}
#personsSection {
}
.flexx{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 20px auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px 0;
}
#personsSection,
#jobsSection {
  height: 220px;
}
