<nav>
  <h1>
    <a href="#"> {{ title }} </a>
  </h1>
  <ul id="pages">
    <a href="#">
      <li>Page 1</li>
    </a>
    <a href="#">
      <li>Page 2</li>
    </a>
    <a href="#">
      <li>Page 3</li>
    </a>
    <a href="#">
      <li>Page 3</li>
    </a>
  </ul>
  <ul id="buttons">
    <li>
      <a href="#">
        <i class="fa-solid fa-plug"></i>
      </a>
    </li>
    <li id="theme">
      <a href="#" (click)="changeTheme()" *ngIf="theme; else darkTheme">
        <i class="fa-solid fa-sun"></i>
      </a>
      <ng-template #darkTheme>
        <a href="#" (click)="changeTheme()">
          <i class="fa-solid fa-moon"></i>
        </a>
      </ng-template>
    </li>
  </ul>
</nav>
